/* d:\00_work\04_WebDev\02_DASHBOARD\dash01\src\App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Header와 main-content-wrapper를 가로 중앙 정렬 */
  min-height: 100vh;
}

.main-content-wrapper {
  display:flex;
  justify-content: flex-start; /* 자식 요소들을 왼쪽부터 정렬 */
  width: 100%; /* Header 너비와 일치시키거나, 필요에 따라 조정 */
  flex-grow: 1; /* Header를 제외한 나머지 세로 공간을 채움 */
  overflow: hidden; /* Sidebar 전환 시 내용이 넘치는 것을 방지 */;
}